label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

.small-1 {
  max-width: 500px;
  margin: 15px auto;
  border-width: 1px;
  border-color: #777;
}

.footer-font{
	color: #777;
	font-size: 15px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;	
}