{% extends "AEplatformBundle::layout.php.twig" %}

{% block title %}
	FAQ
{% endblock %}

{% block aeplatform_header %}
	<header class="intro-header" style="background-image: url({{asset('img/logo_fond_marron_grand.jpg')}})">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h1>Questions récurentes</h1>
						<hr class="small">
						<!--span class="subheading">Have questions? I have answers (maybe).</span-->
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}

{% block aeplatform_body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<p>Une Question ?</br>Nous avons surement la réponse</p>
				<form name="sentMessage" id="contactForm" novalidate>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Question</label>
							<input type="text" class="form-control" placeholder="Question" id="question" required data-validation-required-message="Merci de renseignez votre requete.">
							<p class="help-block text-danger"></p>
						</div>
					</div>
				</form>
				<p>Vous ne trouvez pas ce que vous cherchez ?</br><a href="{{ path('page_contact') }}">Contactez nous</a></p>
			</div>
		</div>
	</div>
{% endblock %}